<section class="hero" {{#if cover}}style='background: url("{{cover.large}}"); background-size: cover;'{{/if}}>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>{{tagline}}</h1>
                {{#if @site.membership}}
                    <p class='membership'>
                      <a href="{{@site.membership}}" class="btn btn-primary btn-lg" target="_blank">{{t 'membership_form'}}</a>
                    </p>
                {{/if}}
            </div>
        </div>
    </div>
</section>

{{#each activities}}
    <section class="activity">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <p class="title">{{title}}</p>
                    {{summary}}
                </div>
            </div>
        </div>
    </section>

    {{#if cover}}
        <section class="hero cover" style='background: url("{{cover.large}}") no-repeat center center fixed; background-size: cover;'>
        </section>
    {{/if}}
{{/each}}

{{#if moreDesc}}
<section class="more-description">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {{moreDesc}}
            </div>
        </div>
    </div>
</section>
{{/if}}

{{#if joinText}}
<section class="join-us">
    <div class="container">
        <div class="row">
            {{#if @site.membership}}
                <div class="col-md-3 col-md-offset-3">
                    {{joinText}}
                </div>
                <div class="col-md-3">
                    <p class='membership'>
                        <a href="{{@site.membership}}" class="btn btn-primary btn-lg" target="_blank">{{t 'membership_form'}}</a>
                    </p>
                </div>
            {{else}}
                <div class="col-md-6 col-md-offset-3">
                    {{joinText}}
                </div>
            {{/if}}
        </div>
    </div>
</section>
{{/if}}
